<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiwiCo Mimic</title>
    
</head>
<style>
#div1
{
    background-color: greenyellow;
}
#div2
{
    background-color: ;
}
</style>
<body>
<!--header-->
<div id="div1">
<header>

<img src="" alt="logo" width="150px" height="45">
<n>  Subscription lines</n>


<font color="white">________________________________ </font>



</header>
</div>  

<!--article-->
<article>
    <center>
    <br><br><br>
    <div id="div2">
    <img src="/img/signin.jpg" alt="signin" width="160" height="60">
    
    <!--form-->
    <form>
        <label for="email">Your email <font color="Red">*</font> </label><br>
        <input type="text" id="email" name="email" size="30"placeholder="Email address"><br>
        <label for="pass">Password <font color="Red">*</font> </label><br>
        <input type="text" id="pass" name="pass" size="30"placeholder="Password"> <br><br>
    
        <u>

        <a href=""><font color="blue">Show password</font></a> <br><br>
        <a href=""><font color="blue">Forgot password?</font></a>
    </u> 

    
    <br><br><br>

        <input type="image" src="/img/sign in icon.jpg" width="280"= height="37"><br><br>

        -
        or
        -
        <br><br>
    
        <input type="image" src="img/loginwithfacebook.jpg" width="280" height="43"><br><br>
        <table>
        <input type="image" src="img/google login.jpg" width="280"height="37">
        <br>
        Don’t have an account yet? 
        <u>
            <small>
            <a href=""><font color="blue">Sign up</font> </a>
        </small>
        </u>
    </table>

    </form>
</div>
</center>
</article>

<br>
<br>
<center>
<!--footer-->
<footer>
    <table>
        <tr>
            <th>KiwiCo</th>
            <th>Quick Links</th>
            <th>Featured Products</th>
            <th>
                <a href><img src="/img/fb.jpg" alt="sosmed.png"></a>
                <a href=""><img src="/img/instagram.png" width="32" alt=""></a>
                <a href=""><img src="/img/pinteres.png" width="32" alt=""></a>
                <a href=""><img src="/img/youtube.png" width="37"alt=""></a>
                
                <br>
                <font color="gray">
                 Sign up for emails and get 40% off 1st month
                 </font>

                <!--sign up email form-->
                <form>
                    <Input type="text" placeholder="Enter your email">
                    <button type="button">Sign up</button>

                    <br>

                    <button type="button"><img src="https://www.pngfind.com/pngs/m/194-1946503_indonesia-flag-circle-png-indonesia-flag-round-icon.png" alt="flag.png" height="15" width="15">USD($)</button> 
                    <button> <img src="/img/updown.jpg" alt="" height="17">
                    </button>

                </form>
            </th>
        </tr>
        <tr>
            <td>
                <a href>About Us</a> <br><a href>Press</a><br><a href>Jobs</a><br><a href>Terms & Privacy</a><br><a href>SMS Terms</a><br><a href>Blog</a><br><a href>FAQs</a><br><a href>Letters to Steve</a><br><a href>KiwiCo Coupons</a><br><a href>KiwiCo Reviews</a>
            </td>

            <td>
                <a href>Get It</a><br><a href>Store</a>
                <br>
                <a href>Gift Subscription</a>
                <br>
                <a href>Buy a Gift Card</a>
                <br>
                <a href>Redeem a Gift Card</a>
                <br>
                <a href>Gift Guide

                </a>
                <br><a href>Group Gift</a><br><a href>Birthday</a><br><a href>Baby Registry</a><br>
                <a href>At-Home Resources for Kids</a><br><a href>Chemistry Sets</a><br><a href>Science and Arts Projects</a><br><a href>Electronic Kits</a><br><a href>Refer a Friend</a><br><a href>Bulk Orders</a><br><a href>Affiliates</a><br><a href>My Account</a></td>
            <td><a href>Monthly Science Kits for Kids</a><br><a href>Shop by Age</a><br><a href>Shop by Interest</a><br><a href>STEM Packs</a><br><a href>Classroom Packs</a><br><a href>Craft Kits for Kids</a><br><a href>Awesome Slime Projects for All Ages</a><br><br><strong>DIY
                    Ideas</strong>
                <br><a href>DIY Ideas</a><br><a href>Arts and Craft Projects</a><br><a href>Science Projects for Kids</a><br><a href>Holiday DIY Crafts</a><br><a href>Cooking Recipes for Kids</a></td>
        </tr>

    </table>
<br> <br>

    <f1>
       
        

    </f1>
<br>
<br>
<center>
    <f2>
        <b>
        Ferdynand, Inc. © 2022 All Rights Reserved.
        </b>
    </f2>
    </center>
</footer>
</center>
</body>


</html>